﻿@model IEnumerable<ALPatients.Models.PatientDiagnosis>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Diagnosis for " + Context.Session.GetString("patientLastName") +
        ", " + Context.Session.GetString("patientFirstName");
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Patients Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.LastName),
                    @Html.DisplayFor(modelItem => item.Patient.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis.Name)
                </td>
                <td>
                    <a asp-controller="ALPatientTreatment" asp-route-patientDiagnosisId="@item.PatientDiagnosisId"
                       asp-route-patientDiagnosisName="@item.Diagnosis.Name"
                       asp-route-diagnosisId="@item.DiagnosisId">Patients Treatment</a> |
                    <a asp-action="Edit" asp-route-id="@item.PatientDiagnosisId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PatientDiagnosisId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PatientDiagnosisId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

