﻿@model ALPatients.Models.Medication

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medication</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt hidden class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd hidden class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concentration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConcentrationCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConcentrationCodeNavigation.ConcentrationCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DispensingCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DispensingCodeNavigation.DispensingCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicationType.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Din)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Din)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Din" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
