﻿@model IEnumerable<ALPatients.Models.Country>

@{
    ViewData["Title"] = "Countries on File";
}

<h1>Countries on File</h1>

@if (User.IsInRole("medicalStaff") || User.IsInRole("administrators"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalPattern)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhonePattern)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FederalSalesTax)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalPattern)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhonePattern)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FederalSalesTax)
                    </td>
                    <td>

                        <a asp-action="Details" asp-route-id="@item.CountryCode">Details</a> |

                        @if (User.IsInRole("medicalStaff") || User.IsInRole("administrators"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.CountryCode">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.CountryCode">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
