﻿@model IEnumerable<IdentityRole>
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Index";
}

<h1>Current Roles</h1>
<form asp-controller="ALRole" asp-action="Create">
    Create New Role:
    <input type="text" name="roleName"/>
    <input type="submit" value="Create Role"/>
</form>
<table class="table">
    <tr>
        <th>Role Name</th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
    <tr>

        <td>@item.Name</td>
        <td>

            <a asp-action="UsersInRole" asp-route-roleName="@item.Name">Users In Role |</a>
            <a asp-action="DeleteRole" asp-route-roleName="@item.Name">Delete Role</a>


        </td>
    </tr>

    }

</table>

