﻿@model IEnumerable<IdentityUser>
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Users In Role " + Context.Session.GetString("roleName");
}


<h1>@ViewData["Title"]</h1>
<form asp-controller="ALRole" asp-action="AddUserToRole">

    Users Not In Role:
    </br>

    <select name="UserName" class="form-control" asp-items="ViewBag.notInRole"></select>
    </br>
    <input type="submit" value="Add To Role" />
</form>
</br>

<table class="table">
    <tr>
        <th>User Name</th>


        <th>Email</th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.UserName</td>
        <td>@item.UserName</td>
        @if(!(Context.Session.GetString("roleName")== "administrators" && User.Identity.Name == item.UserName)) 
        {
            <td>
                <a asp-action="RemoveUserFromRole" asp-route-userName="@item.UserName"asp-route-roleName="@Context.Session.GetString("roleName")">Remove</a>
            </td>
        }
        </tr>

        


    }

</table>





